{
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2,
        "proseWrap": "always",
        "printWidth": 100
      }
    },
    {
      "files": ["*.md", "*.markdown"],
      "options": {
        "proseWrap": "always",
        "printWidth": 100
      }
    }    
  ]
}
