{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Deploy Bot{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{% static 'css/screen.css' %}" media="screen" rel="stylesheet" />
        {% block extra_css %}{% endblock %}
        <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
    </head>

    <body class="{% block body-class %}{% endblock %}">

        <main class="content">
            <header class="page-header">
                <img class="page-header__logo" src="{% static 'img/vng.svg' %}">
                <h1 class="page-header__title">deploy_bot</h1>
            </header>


            {% block content %}
                Override <code>{% verbatim %}{% block content %}{% endverbatim %}</code>
                to get some actual content.
            {% endblock %}
        </main>
    </body>
</html>
