.error-detail-properties {
  display: flex;
  flex-wrap: wrap;

  &__property {
    width: 20%;
    min-width: 200px;
    margin: 0;
    padding: 10px 0;

    font-weight: 700;
  }

  &__value {
    width: 80%;
    margin: 0;
    padding: 10px 0;

    font-weight: 700;
    color: $color-code;
  }
}
