@import '../../lib/responsive';


$page-header-max-width: $breakpoint-laptop-l;

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;
  max-width: $page-header-max-width;
}
