# Developers
.hg
.git
.svn
.idea/
.sass-cache/
*.db
*.pyc
__pycache__
*~

# Javascript libraries
/node_modules/

# Coverage reports
/reports/
/htmlcov/

# Environment
local.py
/env/
/media/
/static/
/mail/
/log/*.log*
/log/nginx/*.log*
.env
